body{
    padding: 0.5em 0;
}

h1{
    font-size: 1.2em;
    padding: 0.25em 1em;
    margin: 0;
}

ul{
    list-style-type:none;
    padding: 0.25em 0;
    margin: 0;
    min-width: 20em;
}

li{
    padding: 0.5em 1em 0.5em 3em;
    background: url('./images/dev-unknown.svg') no-repeat 0.5em;
    background-size: auto 80%;
}

li:hover{
    background-color: #eee;
}

.dev-tablet{
    background-image: url('./images/dev-tablet.svg');
}
.dev-smartphone{
    background-image: url('./images/dev-smartphone.svg');
}
.dev-desktop{
    background-image: url('./images/dev-desktop.svg');
}

.disabled{
    opacity: 0.5;
    text-decoration: line-through;
}
